.simplegallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.simplegallery__images {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.simplegallery__main-image {
}

.simplegallery__main-image img {
    cursor: pointer;
    width: 100%;
}

.simplegallery__images img {
    cursor: pointer;
    width: 80px;
    object-fit: cover;
}
